<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>{{projet.sujet}}</mat-card-title>
    <mat-card-subtitle>{{projet.statut}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-md-auto">  
          <p *ngIf="projet.entreprise"> Entreprise: {{projet.entreprise}} </p>
          <p *ngIf="projet.date"> Date: {{projet.date|date: 'short'}} </p>
          <p *ngIf="projet.salle"> Salle: {{projet.salle}} </p>
          <p *ngIf="projet.rapport"> Rapport: {{projet.rapport}} </p>
        </div>
        <div class="col col-lg-2">
          <div *ngIf="projet.projet_encadrantId">
            Encadrant <fa-icon [icon]="faExternalLinkAlt" [routerLink]="['/user', projet.projet_encadrantId]"></fa-icon>
          </div>
          <div *ngIf="projet.projet_etudiantId">
            Etudiant <fa-icon [icon]="faExternalLinkAlt" [routerLink]="['/user', projet.projet_etudiantId]"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div *ngIf="showActions">
      <div *ngIf="!hasSoutenance()">
        <p>
          Ce projet n'a pas encore une soutenance programmée
        </p>
        <button type="button" class="btn btn-info" [routerLink]="['/soutenance', 'new', projetID()]">Créer une soutenance pour ce projet</button>
      </div>
      <div *ngIf="user.role == adminRole || (user.role == enseignantRole && user.id == projet.projet_encadrantId)">
        
        <button type="button" class="btn btn-success" (click)="valider()" *ngIf="projet.statut!=valideStatus">Valider</button>
        <button type="button" class="btn btn-danger" (click)="annuler()" *ngIf="projet.statut!=annuleStatus">Annuler</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>

