<div class="container-contact2">
  <div class="wrap-contact2">
    <form (ngSubmit)="onSubmitClick()" [formGroup]="sessionForm" class="contact2-form validate-form">
      <h2 *ngIf="!sessionId" class="contact2-form-title">
        Nouvelle session
      </h2>
      <h2 *ngIf="sessionId" class="contact2-form-title">
        Modification de la session
      </h2>

      <div class="wrap-input2 validate-input">
        <input class="input2" formControlName="nom" placeholder="Nom de la session" type="text">
        <span class="focus-input2"></span>
      </div>

      <div class="wrap-input2 validate-input">
        <input class="input2" formControlName="president" placeholder="Président de la session" type="text">
        <span class="focus-input2"></span>
      </div>

      <div class="wrap-input2 validate-input">
        <input class="input2" formControlName="debut" placeholder="Début de la session">
        <span class="focus-input2"></span>
      </div>

      <div class="wrap-input2 validate-input">
        <input class="input2" formControlName="fin" placeholder="Fin de la session">
        <span class="focus-input2"></span>
      </div>

        <div class="wrap-input2 validate-input">
          <label class="form-check-label" for="annee">Année universitaire :</label>
          <select formControlName="annee" id="annee">
            <option *ngFor="let annee of annees" [ngValue]="annee.id">{{annee|show:'annee'}}</option>
          </select>
          <span class="focus-input2"></span>
        </div>

      <div class="container-contact2-form-btn">
        <div class="wrap-contact2-form-btn">
          <div class="contact2-form-bgbtn"></div>
          <button [disabled]="!sessionForm.valid" class="contact2-form-btn">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

