<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>{{user.username}} ({{user.role}})</mat-card-title>
    <mat-card-subtitle>{{user.prenom}} {{user.nom}}</mat-card-subtitle>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Date de naissance: {{user.datenaissance}}<br>
      Filiere: {{user.filiere}}<br>
      téléphone: {{user.telephone}}<br>
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<h2 *ngIf="projets">
  Projets:
</h2>
<app-projet-item *ngFor="let projet of projets"
  [projet] = "projet">
</app-projet-item>
