<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>{{user.username}} ({{user.role}})</mat-card-title>
    <mat-card-subtitle>{{user.prenom}} {{user.nom}}</mat-card-subtitle>
    <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Date de naissance: {{user.datenaissance| date:"longDate"}}<br>
      Filiere: {{user.filiere}}<br>
      téléphone: {{user.telephone}}<br>
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<h2 *ngIf="projets.length">
  Projets:
</h2>
<app-projet-item *ngFor="let projet of projets"
  [projet] = "projet">
</app-projet-item>

<div *ngIf="projets.length==0">
  <div *ngIf="user.role==etudiantRole">
    <h2>
      Cet étudiant n'a pas de projets
    </h2>
    <button type="button" class="btn btn-primary" [routerLink]="['/projet-edit']">Créer un projet</button>
  </div>

  <div *ngIf="user.role==enseignantRole">
    <h2>
      Cet enseignant n'est pas associé à un projet
    </h2>
  </div>

</div>


