<form #signupForm="ngForm">
    username:
    <input
      username
      type="text"
      class="form-control"
      ngModel
      name="username"
      required
      #usernameInput="ngModel"
    />
    email:
    <input
      email
      type="email"
      class="form-control"
      ngModel
      name="email"
      required
      #emailInput="ngModel"
    />
    password:
    <input
      type="password"
      minlength="4"
      class="form-control"
      name="password"
      ngModel
      required
      #pwdInput="ngModel"
    />
  </form>
  <button
    (click)="signup(signupForm)"
    class="btn btn-success"
  >
    Signup
  </button>
  