<form #signupForm="ngForm">
  username:
  <input
      #usernameInput="ngModel"
      class="form-control"
      name="username"
      ngModel
      required
      type="text"
      username
  />
  email:
  <input
      #emailInput="ngModel"
      class="form-control"
      email
      name="email"
      ngModel
      required
      type="email"
  />
  password:
  <input
      #pwdInput="ngModel"
      class="form-control"
      minlength="4"
      name="password"
      ngModel
      required
      type="password"
  />
</form>
<button
  (click)="signup(signupForm)"
  class="btn btn-success"
>
  Signup
</button>
